<!DOCTYPE html>
<html>
<head>
<title>HealthLedger</title>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<!-- <link href="https://cdn.rawgit.com/anaskhan96/HealthLedger/master/public/style.css" rel="stylesheet"> -->
<!-- Uncomment the below line and comment the above one while on local dev setup -->
<link href="/style.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  function redirect(){
	  var ID = document.getElementById("ID").value;
	  $.ajax({
		  type: 'POST',
		  url: '/ledger/login',
		  contentType: 'application/json;charset=UTF-8',
		  dataType: 'json',
		  data: JSON.stringify({'ID': ID}),
		  success: function(response){
			  console.log(response);
		  },
		  error: function(error){
			  console.log(error);
		  }
	  });
  }
</script>
</head>
<body>
  <h1>Health Ledger</h1>
  <div class="cotn_principal">
<div class="cont_centrar">

  <div class="cont_login">
<div class="cont_info_log_sign_up">
      <div class="col_md_login">
<div class="cont_ba_opcitiy">
        
        <h2>LOGIN</h2>  
  <p>Login as Doctor/Patient to view profile.</p> 
  <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
  </div>
  </div>
<div class="col_md_sign_up">
<div class="cont_ba_opcitiy">
  <h2>SIGN UP</h2>

  
  <p>Sign Up as Doctor/Patient to be a part.</p>

  <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
</div>
  </div>
       </div>

    
    <div class="cont_back_info">
       <div class="cont_img_back_grey">
       <img src="http://lowtestosteroneexpert.com/wp-content/uploads/2014/03/doctor-and-old-patient-1-300x199.jpg" alt="" />
       </div>
       
    </div>
<div class="cont_forms" >
    <div class="cont_img_back_">
       <img src="http://lowtestosteroneexpert.com/wp-content/uploads/2014/03/doctor-and-old-patient-1-300x199.jpg" alt="" />
       </div>
 <div class="cont_form_login">
<a href="#" onclick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
   <h2>LOGIN</h2>
 <input type="text" placeholder="Name" />
<input id="ID" type="text" placeholder="ID" />
<input type="radio" name="user" value="doctor"  style="width:50px" checked>Doctor<br>
<input type="radio" name="user" value="patient" style="width:50px">Patient<br>
<button id="login" class="btn_login" onclick="redirect()">LOGIN</button>
  </div>
  
   <div class="cont_form_sign_up">
<a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
     <h2>SIGN UP</h2>
<input type="text" placeholder="Name" />
<input type="text" placeholder="DOB" />
<input type="text" placeholder="ID" />
<input type="" placeholder="Confirm Password" />
<input type="radio" name="user" value="doctor"  style="width:50px" checked>Doctor<br>
<input type="radio" name="user" value="patient" style="width:50px">Patient<br>
<button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>

  </div>

    </div>
    
  </div>
 </div>
</div>
	<!-- <script src="https://cdn.rawgit.com/anaskhan96/HealthLedger/master/public/javascript.js"></script> -->
  	<!-- Uncomment the below line and comment the above one while on local dev setup -->
    <script src="/javascript.js"></script>

</body>
</html>