<!-- This document is pretty much self explanatory -->

<html>
<head><title>Health Ledger</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		function foo(){
			var name=document.getElementById("yo").value;
			$.ajax({
				type: 'POST',
				url: '/ledger',
				contentType: 'application/json;charset=UTF-8',
				dataType: 'json',
				data: JSON.stringify({'msg':name}),
				success: function(response){
					var p=document.createElement('p');
					p.innerHTML=response["name"];
					document.body.appendChild(p);
				},
				error: function(error){
					alert(error);
				}
			});
		}
	</script>
<body>
<h1>Work to do...</h1>
<h2>Stuff to put...</h2>
<input id="yo" type="text">
<button onclick="foo();">Click</button>
</body>
</html>
