<!DOCTYPE html>
<html>
<head>
<title>HealthLedger | Home</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>    
<script type="text/javascript" src="javascript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.rawgit.com/anaskhan96/HealthLedger/master/public/style_profile.css" rel="stylesheet">
<!-- <link href="style_profile.css" rel="stylesheet"> -->
<style>
	.card-content {
		overflow: hidden;
		max-height: 172px;
	}

	#encase {
		z-index: 2;
		background-color: rgba(255, 255, 255, 0.8); 
		width: 100%; 
		height: 100%; 
		position: fixed;
		top: 0;
	}

	.blown-up {
		z-index: 3;
		position: fixed;
		top: 20%;
		left: 20%;
		right: 20%;
		bottom: 20%;
		width: inherit !important;
		overflow: none !important;
		max-height: none !important;
	}

	.blown-content {
		overflow: none;
		max-height: none;
	}

	.card-title {
		display: block;
	}

	label {
		font-size: 15px;
	}
</style>
</head>
<body>
<header>
        <h3>Welcome to Health Ledger</h3>
		<a href="/ledger/switch"> <button style="position: absolute; top: 5%; right: 5%;">Switch Account</button> </a>
</header>
<main>
	<div class="jumbo"></div>
	<div class="big-icon"></div>
	<div class="details">
		<h3><%= name %></h3>
		<p>Profession</p>
	</div>
	<div class="container bio">
			<div class="title">
				<h6>Personal Information</h6>
			</div>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro officiis fugit hic vel voluptates perferendis aut quibusdam sit omnis unde aspernatur quae repellat blanditiis autem, a libero asperiores neque illum aliquid est tempore. Eveniet velit voluptate amet facere, repellendus aperiam, cumque est ipsam. Asperiores expedita iusto, inventore sit suscipit nihil repudiandae? Laboriosam cum maxime dolorem neque, in veniam expedita ad. Hic fugit necessitatibus blanditiis, optio dignissimos molestiae nam, numquam odio.</p>
			</div>
			<hr />
	</div>
	<div class="container posts">
		<div class="title">
			<h4>Patient Details</h4>
		</div>
		<div class="row">
        	<div class="col s12 m6" id="medhist">
          		<div class="card black">
            		<div class="card-content white-text">
              			<span class="card-title">Medical History</span>
              			<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro officiis fugit hic vel voluptates perferendis aut quibusdam sit omnis unde aspernatur quae repellat blanditiis autem, a libero asperiores neque illum aliquid est tempore. Eveniet velit voluptate amet facere, repellendus aperiam, cumque est ipsam. Asperiores expedita iusto, inventore sit suscipit nihil repudiandae? Laboriosam cum maxime dolorem neque, in veniam expedita ad. Hic fugit necessitatibus blanditiis, optio dignissimos molestiae nam, numquam odio.</p>-->
            		</div>
					<div class="card-action">
						<a onclick="readMore(event)">Read more...</a>
						<div class="tags">
							<div class="chip">
								Tag1
							</div>
							<div class="chip">
								Tag2
							</div>
						</div>
					</div>
          		</div>
        	</div>
				<div class="col s12 m6" id="treatdet">
          		<div class="card black">
            		<div class="card-content white-text">
              			<span class="card-title">Treatment details</span>
              			
            		</div>
					<div class="card-action">
						<a onclick="readMore(event)">Read more...</a>
						<div class="tags">
							<div class="chip">
								Tag1
							</div>
							<div class="chip">
								Tag2
							</div>
						</div>
					</div>
          		</div>
        	</div>
      	</div>
		<div class="row">
	<div class="col s12 m6" id="docdet">
          		<div class="card black">
            		<div class="card-content white-text">
              			<span class="card-title">Doctors Details</span>
              			
            		</div>
					<div class="card-action">
						<a onclick="readMore(event)">Read more...</a>
						<div class="tags">
							<div class="chip">
								Tag1
							</div>
							<div class="chip">
								Tag2
							</div>
						</div>
					</div>
          		</div>
        	</div>
				<div class="col s12 m6" id="allergies">
          		<div class="card black">
            		<div class="card-content white-text">
              			<span class="card-title">Allergies</span>
              			
            		</div>
					<div class="card-action">
						<a onclick="readMore(event)">Read more...</a>
						<div class="tags">
							<div class="chip">
								Tag1
							</div>
							<div class="chip">
								Tag2
							</div>
						</div>
					</div>
          		</div>
        	</div>
      	</div>
		<div class="row">
        		<div class="col s12 m6" id="rep">
          		<div class="card black">
            		<div class="card-content white-text">
              			<span class="card-title">Reports</span>
              			
            		</div>
					<div class="card-action">
						<a onclick="readMore(event)">Read more...</a>
						<div class="tags">
							<div class="chip">
								Tag1
							</div>
							<div class="chip">
								Tag2
							</div>
						</div>
					</div>
          		</div>
        	</div>
				<div class="col s12 m6" id="insur">
          		<div class="card black">
            		<div class="card-content white-text">
              			<span class="card-title">Insurance Policy</span>
              			
            		</div>
					<div class="card-action">
						<a onclick="readMore(event)">Read more...</a>
						<div class="tags">
							<div class="chip">
								Tag1
							</div>
							<div class="chip">
								Tag2
							</div>
						</div>
					</div>
          		</div>
        	</div>
      	</div>
	</div>
	<div class="container blogs">
		<div class="title">
			<h4>Hospital Details</h4>
		</div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="material-icons">filter_drama</i>General Information</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias tempora nobis, amet ipsa qui officiis modi consequatur reprehenderit expedita nihil ab recusandae, molestiae. Maiores reprehenderit mollitia nisi perferendis quisquam eos repudiandae harum ducimus, impedit et numquam tempore? Labore explicabo sit mollitia sequi doloribus perspiciatis rem corporis veniam, aspernatur autem, tempore consequuntur asperiores excepturi quas ratione natus! Nesciunt, animi! Laudantium quia, aliquam non dolorem, aliquid quod soluta sit id suscipit facilis! Omnis qui in perferendis debitis quam architecto dignissimos sequi asperiores, porro explicabo blanditiis voluptate, totam necessitatibus quia repellendus dolorum animi accusamus molestias assumenda culpa unde sapiente magnam aut fuga? A quae magnam, ipsam modi minus. Optio nihil consequuntur rem quas, eveniet temporibus at atque voluptas voluptatibus beatae animi aliquam quos natus cum magni nobis doloremque illum incidunt, tenetur, quasi sunt aperiam? Reprehenderit officiis consequuntur repellat, atque provident quam. Ut perferendis libero fugiat hic nobis, iusto at dolorum ratione, facere, ipsum saepe, aliquid officia nihil. Inventore, voluptatibus animi sunt ratione adipisci reprehenderit nostrum qui cumque eum ut! Minima suscipit ratione voluptates, et, temporibus vitae doloribus ipsa ipsam. Eligendi ducimus distinctio perferendis praesentium. Eius dolor magni perspiciatis velit, possimus unde quis ea in inventore veritatis facere dicta delectus officiis aut vero voluptatum.</p></div>
			</li>
			<li>
			    <div class="collapsible-header"><i class="material-icons">place</i>Location Details</div>
			    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iure ratione facilis sapiente est, repellendus nesciunt voluptatum tempore magni natus, eius, cumque voluptates illo earum libero obcaecati, deleniti ducimus similique accusamus! Autem totam ipsa minus modi sed tempora porro. Commodi iste inventore fugit reprehenderit maiores dolorem cupiditate debitis repellat, perferendis minus sed, ipsa nulla, beatae eum nobis, asperiores aut aspernatur fuga mollitia itaque. Doloremque reprehenderit earum molestias non voluptatem veniam voluptates expedita, at, eius sunt rerum perspiciatis suscipit iure perferendis. Earum, quasi beatae qui unde ullam fuga assumenda! Consectetur natus temporibus, ipsa, mollitia odit, aliquid id aliquam assumenda quidem, optio ducimus dolor quis corporis iure praesentium sunt rem facilis atque quod odio. Rerum dolores aperiam numquam rem expedita, alias officiis officia minima impedit, beatae libero debitis eligendi. Placeat consequatur non, consectetur accusantium laborum sequi. Explicabo facilis officiis culpa debitis dicta omnis illo quo natus iste, fugiat vitae magni voluptatum. Sequi, illum! Ea voluptatum at similique, sint quisquam dolorum fuga repellat perferendis animi ullam eligendi, sed sapiente placeat non ducimus modi sit tempore reprehenderit deserunt cumque molestiae quod! Ipsam pariatur dicta iusto, illum in vel optio nam aut reprehenderit quam minima dolorem, eaque dignissimos harum. Nobis porro id molestiae eaque reprehenderit voluptas optio, assumenda, nisi fuga cupiditate, minima consequatur fugit dolorum. Ipsam harum, aspernatur.</p></div>
			</li>
			<li>
			    <div class="collapsible-header"><i class="material-icons">whatshot</i>Facilities</div>
			    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ullam asperiores illo, neque, et possimus, laudantium excepturi non sunt necessitatibus cum perferendis atque? Nihil aut adipisci non perferendis fuga voluptatem mollitia. Dicta obcaecati facilis veritatis! Sapiente omnis enim quos non alias, sit, cupiditate nesciunt perferendis rem est voluptatem blanditiis molestias dolor deserunt. Distinctio, odit. Rerum maiores, a voluptas, dolores eum veniam quod alias. Ipsum doloremque suscipit, corporis sapiente laudantium. Vel possimus eveniet error nostrum sint id, assumenda sunt quam hic, voluptatibus ipsum praesentium a odio voluptas ab eius est suscipit excepturi accusamus quo iure nemo! Vel tempora distinctio assumenda nam, ex ipsam adipisci deleniti voluptas eos unde recusandae provident nemo. Reprehenderit labore necessitatibus rem, suscipit quidem recusandae amet reiciendis pariatur!</p></div>
			</li>
  		</ul>
	</div>
	<div class="fixed-action-btn fab" style="bottom: 45px; right: 24px;">
    	<a class="btn-floating btn-large red">
      		<i class="large material-icons">arrow_drop_up</i>
		</a>
    	<ul>
      		<li><a class="btn-floating orange"><i class="material-icons">thumb_up</i></a></li>
			<li><a class="btn-floating green"><i class="material-icons">star</i></a></li>
			<li><a class="btn-floating blue"><i class="material-icons">add</i></a></li>
		</ul>
  	</div>
</main>

<footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Created By:</h5>
                <p class="grey-text text-lighten-4">Anas Alim Khan</p>
                <p class="grey-text text-lighten-4">Anvith Shetty</p>
                <p class="grey-text text-lighten-4">Avinash Shenoy</p>				
				
              </div>
              <div class="col l4 offset-l2 s12">
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            &copy; 2017 Copyright
            </div>
          </div>
        </footer>

</body>

</html>